version: 2.1
jobs:
  create-infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
         name: Ensure backend exists
         command: 
           aws cloudformation deploy --template-file ourinfra.yml --stack-name my-stack-3 --region us-west-2
workflows:
  my-workflow:
    jobs:
      - create-infrastructure
